*.xcuserstate
*.xcbkptlist
Algorithm HackerRank.xcodeproj/xcuserdata/amintorabi.xcuserdatad/xcschemes/xcschememanagement.plist
*.pbxproj
.DS_Store
Algorithm HackerRank.xcodeproj/xcshareddata/xcbaselines
Algorithm HackerRank.xcodeproj/xcshareddata/xcbaselines/A83F3E7E2BFDD91A0083566D.xcbaseline
